<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="TestConfigs">
      <section name="SiteUrl" type="System.Configuration.NameValueSectionHandler" />
      <section name="UserType" type="System.Configuration.NameValueSectionHandler" />
      <section name="HipTest" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>

  <TestConfigs>
    <SiteUrl>
      <add key="I15South_Test" value="http://test.i15south.elvispmc.com" />
      <add key="I15South_Stage" value="http://stage.i15south.elvispmc.com" />
      <add key="I15South_Prod" value="http://i15south.elvispmc.com" />
      <add key="GLX_Test" value="http://test.glx.elvispmc.com" />
      <add key="GLX_Stage" value="http://stage.glx.elvispmc.com" />
      <add key="GLX_Prod" value="http://glx.elvispmc.com" />
      <add key="I15Tech_Test" value="http://test.i15tech.elvispmc.com" />
      <add key="I15Tech_Stage" value="http://stage.i15tech.elvispmc.com" />
      <add key="I15Tech_Prod" value="http://i15tech.elvispmc.com" />
      <add key="SGWay_Test" value="http://test.sg.elvispmc.com" />
      <add key="SGWay_Stage" value="http://stage.sg.elvispmc.com" />
      <add key="SGWay_Prod" value="http://sg.elvispmc.com" />
      <add key="SH249_Test" value="http://test.sh249.elvispmc.com" />
      <add key="SH249_Stage" value="http://stage.sh249.elvispmc.com" />
      <add key="SH249_Prod" value="http://sh249.elvispmc.com" />
      <add key="Garnet_Test" value="http://test.garnet.elvispmc.com" />
      <add key="Garnet_Stage" value="http://stage.garnet.elvispmc.com" />
      <add key="Garnet_Prod" value="http://garnet.elvispmc.com" />
      <add key="LAX_Test" value="http://test.laxapm.elvispmc.com" />
      <add key="LAX_Stage" value="http://stage.laxapm.elvispmc.com" />
      <add key="LAX_Prod" value="http://laxapm.elvispmc.com" />
    </SiteUrl>
    <UserType>
      <add key="Bhoomi" value="bpurohit@rkci.com,Password@123" />
      <add key="IQFRecordsMgr" value="testIqfRecordsManager@rkci.com,Password@123" />
      <add key="IQFUser" value="testIqfUser@rkci.com,Password@123" />
      <add key="IQFAdmin" value="testIqfAdmin@rkci.com,Password@123" />
      <add key="DOTUser" value="testDotUser@rkci.com,Password@123" />
      <add key="DOTAdmin" value="testDotAdmin@rkci.com,Password@123" />
      <add key="DEVUser" value="testDevUser@rkci.com,Password@123" />
      <add key="DEVAdmin" value="testDevAdmin@rkci.com,Password@123" />
      <add key="NCRMgr" value="testNcrMgr@rkci.com,Password@123" />
      <add key="NCRTech" value="testNcrTech@rkci.com,Password@123" />
      <add key="CDRMgr" value="testCdrMgr@rkci.com,Password@123" />
      <add key="CDRTech" value="testCdrTech@rkci.com,Password@123" />
      <add key="DIRMgr" value="testDirMgr@rkci.com,Password@123" />
      <add key="DIRTech" value="testDirTech@rkci.com,Password@123" />
    </UserType>
    <HipTest>
      <add key="HipTest_UID" value="schongkim@rkci.com" />
      <add key="HipTest_PWD" value="Rkci2018#" />
      <add key="HipTest_Token" value="fqpFo4yeA9smrth_DEaq0A" />
      <add key="HipTest_ClientID" value="Jt9PY5qxxB2OsUsDSB7K2g" />
    </HipTest>
  </TestConfigs>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.engine" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.4.2.0" newVersion="106.4.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.TypeConverter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>