<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="TestConfigs">
      <section name="SiteUrl" type="System.Configuration.NameValueSectionHandler" />
      <section name="UserType" type="System.Configuration.NameValueSectionHandler" />
      <section name="HipTest" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  
  <TestConfigs>
    <SiteUrl>
      <add key="I15North_Test" value="http://test.i15north.elvispmc.com" />
      <add key="I15North_Stage" value="http://stage.i15north.elvispmc.com" />
      <add key="I15North_Prod" value="http://i15north.elvispmc.com" />
      <add key="I15South_Test" value="http://test.i15south.elvispmc.com" />
      <add key="I15South_Stage" value="http://stage.i15south.elvispmc.com" />
      <add key="I15South_Prod" value="http://i15south.elvispmc.com" />
      <add key="GLX_Test" value="http://test.glx.elvispmc.com" />
      <add key="GLX_Stage" value="http://stage.glx.elvispmc.com" />
      <add key="GLX_Prod" value="http://glx.elvispmc.com" />
      <add key="I15Tech_Test" value="http://test.i15tech.elvispmc.com" />
      <add key="I15Tech_Stage" value="http://stage.i15tech.elvispmc.com" />
      <add key="I15Tech_Prod" value="http://i15tech.elvispmc.com" />
      <add key="SGWay_Test" value="http://test.sg.elvispmc.com" />
      <add key="SGWay_Stage" value="http://stage.sg.elvispmc.com" />
      <add key="SGWay_Prod" value="http://sg.elvispmc.com" />
      <add key="SH249_Test" value="http://test.sh249.elvispmc.com" />
      <add key="SH249_Stage" value="http://stage.sh249.elvispmc.com" />
      <add key="SH249_Prod" value="http://sh249.elvispmc.com" />
      <add key="Garnet_Test" value="http://test.garnet.elvispmc.com" />
      <add key="Garnet_Stage" value="http://stage.garnet.elvispmc.com" />
      <add key="Garnet_Prod" value="http://garnet.elvispmc.com" />
      <add key="LAX_Test" value="http://test.laxapm.elvispmc.com" />
      <add key="LAX_Stage" value="http://stage.laxapm.elvispmc.com" />
      <add key="LAX_Prod" value="http://laxapm.elvispmc.com" />
      <add key="PreProd" value="http://stage.sandbox.elvispmc.com/" />
    </SiteUrl>
    <UserType>
      <add key="Hash" value="UIA@Rkci" />
      <add key="Bhoomi" value="bpurohit@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="IQFRecordsMgr" value="testIqfRecordsManager@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="IQFUser" value="testIqfUser@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="IQFAdmin" value="testIqfAdmin@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="DOTUser" value="testDotUser@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="DOTAdmin" value="testDotAdmin@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="DEVUser" value="testDevUser@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="DEVAdmin" value="testDevAdmin@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="NCRMgr" value="ATNcrMgr@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="NCRTech" value="ATNcrTech@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="NCRDevConcur" value="ATNcrDevConcur@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="NCRLawaConcur" value="ATNcrLawaConcur@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="NCRQpm" value="ATNcrQPM@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="NCRCqam" value="ATNcrCQAM@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="NCROmqm" value="ATNcrOMQM@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CDRMgr" value="testCdrMgr@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CDRTech" value="ATCdrTech@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="DIRMgrQA" value="ATDirMgr@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="DIRTechQA" value="ATDirTech@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="DIRMgrQC" value="ATDirMgrQC@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="DIRTechQC" value="ATDirTechQC@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CR_Create" value="AtCRCreate@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CR_Comment" value="ATCRComment@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CR_CommentAdmin" value="ATCRCommentAdmin@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CR_Response" value="ATCRResponse@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CR_ResponseAdmin" value="ATCRResponseAdmin@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CR_Verify" value="ATCRVerify@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="CR_VerifyAdmin" value="ATCRVerifyAdmin@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="TransmissionsGeneral" value="ATTransmissionsGeneral@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="TestTech" value="ATTestTech@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
      <add key="TestTechMgr" value="ATTestTechMgr@rkci.com,mVp4H1ua/o9ZQdit/sfF5w==" />
    </UserType>
    <HipTest>
      <add key="HipTest_UID" value="schongkim@rkci.com" />
      <add key="HipTest_PWD" value="LpB2h5NmOGyo7DjdPz5qZQ==" />
      <add key="HipTest_Token" value="1vm+iCJIjOxdBA/aMAZvENeAgeoMv8kc" />
      <add key="HipTest_ClientID" value="qlDZ/tkzCMFtpLtrrkZKyaHt68SdEeXz" />
    </HipTest>
  </TestConfigs>
  
  <connectionStrings>
    <add name="StageDB" connectionString="Server=64.20.241.185;Database=ElvisPMCStaging;User Id=sa;Password=@sql4Raba;" providerName="System.Data.SqlClient" />
    <add name="StageDB_VPN" connectionString="Server=10.1.1.204;Database=ElvisPMCStaging;User Id=sa;Password=@sql4Raba;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.6.10.0" newVersion="106.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.TypeConverter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
